<div class="container">
    <div class="page-content">
<h4 class="blog-post-title">Matches</h4>
<hr/>
<button type="button" ng-if="globals.currentUser!==undefined" class="btn btn-danger fa fa-plus" ng-click="open(match);">&nbsp;Add New match</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">List of matches
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter matches list ..." class="nav-search-input" ng-model="filterMatch" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="matches.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="matches.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in matches | filter:filterMatch | orderBy:'date'" id="{{c.id}}" animate-on-change='c.name1' class="animate-repeat">
        <td>{{c.name1}}</td>
		<td>{{c.result>0 ? c.player1_points : ""}}</td>
		<td>{{c.name2}}</td>
		<td>{{c.result>0 ? c.player2_points : ""}}</td>
		<td>{{ c.date | date :  "dd-MMM-y" }}</td>
		<td>{{c.result|resultOutput}}</td>
		<td>{{c.result>0 ?(players | filter:{id:c.winner_id}:true)[0].name:""}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" ng-if="globals.currentUser!==undefined" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" ng-if="globals.currentUser!==undefined" class="btn btn-danger fa fa-trash-o" ng-click="deleteMatch(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              
			  </div>
</div>