<div class="container">
    <div class="page-content">
<h4 class="blog-post-title">Players</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(player);">&nbsp;Add New Player</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">List of players
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter players list ..." class="nav-search-input" ng-model="filterPlayer" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="players.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="players.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in players | filter:filterPlayer | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.name' class="animate-repeat">
        <td>{{c.id}}</td><td>{{c.name}}</td>
        <td>
            <button class="btn" ng-class="{1:'btn-success', 0:''}[c.active]" ng-click="changePlayerStatus(c);">{{c.active === 1 ? "Active" : "Inactive"}}</button>
        </td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deletePlayer(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              
			  </div>
</div>