<div class="container">
    <div class="page-content">
<h4 class="blog-post-title">Rules</h4>
<hr/>

<div class="table">
<div class="panel panel-primary">
  <div class="panel-heading">Win Points
      
    </div>
  <div class="panel-body">
    <table class="table table-striped">
		<tr><td>Check and Mate<img style="margin-left:10px;" src="./images/king.png" height="20"></td><td>10</td></tr>
		<tr><td>Draw</td><td>2</td></tr>		
    </table>
</div>
</div>
</div>

<div class="table">
<div class="panel panel-primary">
  <div class="panel-heading">Points
      
    </div>
  <div class="panel-body">
    <table class="table table-striped">
		<tr>
			<th>Piece</th>
			<th>Points</th>
		</tr>
		<tr><td>Queen<img style="margin-left:10px;" src="./images/queen.png" height="20"></td><td>15</td></tr>
		<tr><td>Check</td><td>10</td></tr>		
		<tr><td>Rook (Elephant)<img style="margin-left:10px;" src="./images/rook.png" height="20"></td><td>5</td></tr>
		<tr><td>Knight (Horse)<img style="margin-left:10px;" src="./images/knight.png" height="20"></td><td>3</td></tr>
		<tr><td>Bishop (Camel)<img style="margin-left:10px;" src="./images/bishop.png" height="20"></td><td>3</td></tr>
		<tr><td>Pawn<img style="margin-left:10px;" src="./images/pawn.png" height="20"></td><td>1</td></tr>
		
	
    </table>
</div>
</div>
</div>
              
			  </div>
</div>